    <div class="footer">
      <div class="wrap">  
         <div class="section group">
           <div class="col_1_of_4 span_1_of_4">
              <img src="/images/Icon_RW.jpg">
           </div>
           <div >
              <p align="Justify">
                  Rawaton.com adalah Online B2B Market Place yang memberikan kemudahan proses transaksi
                   jual - beli melalui teknologi dan fitur yang dapat membantu seller dan buyer melakukan
                   proses bisnis lebih mudah , aman , dan transparan.rawon menghubungkan pembeli baik
                   coorporate maupun individu, dalam menemukan ribuan produk untuk kebutuhan bisnis dan
                  perusahaan dari ratusan supplier ternama dan terpercaya.
              </p>
           </div>
         </div>
         <div class="section group">
            <div class="col-md-8">
                <h2>METODE PEMBAYARAN</h2>
                <a href="#"><img src="/images/bni.png" alt="payment"></a>
                <a href="#"><img src="/images/bri.png" alt="payment"></a>
                <a href="#"><img src="/images/mandiri.png" alt="payment"></a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div id="social-media" class="pull-right">
                    <h3>SOCIAL MEDIA</h3>
                    <a href="#"><img width="60" height="60" src="/images/facebook.png" title="facebook" alt="facebook"/></a>
                    <a href="#"><img width="60" height="60" src="/images/twitter.png" title="twitter" alt="twitter"/></a>
                    <a href="#"><img width="60" height="60" src="/images/insta.png" title="youtube" alt="youtube"/></a>
                </div>
            </div>
         </div>
      
   <div class="copy_right"><p>RAWATON | Design by  <a href="/">RAWATON</a> </p></div>
   </div>
   <script type="text/javascript">
   $(document).ready(function() {      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
   });
   </script>
   <a href="#" id="toTop"><span id="toTopHover"> </span></a>