    <div class="footer">
      <div class="wrap">  
         <div class="section group">
         <div class="col_1_of_4 span_1_of_4">
            <img src="/images/Icon_RW.jpg">
         </div>
         <div >
            <h4>
                <br>Rawaton.com adalah Online B2B Market Place yang memberikan kemudahan proses transaksi
                </br> jual - beli melalui teknologi dan fitur yang dapat membantu seller dan buyer melakukan
                <br> proses bisnis lebih mudah , aman , dan transparan.rawon menghubungkan pembeli baik
                </br> coorporate maupun individu, dalam menemukan ribuan produk untuk kebutuhan bisnis dan
                <br>perusahaan dari ratusan supplier ternama dan terpercaya.</br>
            </h4>
         </div>



         <div class="section group">
            <div class="col_1_of_12 span_1_of_12">
                <h2>METODE PEMBAYARAN</h2>
                <a href="#"><img src="/images/bni.png" alt="payment"></a>
                <a href="#"><img src="/images/bri.png" alt="payment"></a>
                <a href="#"><img src="/images/mandiri.png" alt="payment"></a>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <div id="social-media" class="pull-right">
                    <h2>SOCIAL MEDIA </h2>
                    <a href="#"><img width="60" height="60" src="/images/facebook.png" title="facebook" alt="facebook"/></a>
                    <a href="#"><img width="60" height="60" src="/images/twitter.png" title="twitter" alt="twitter"/></a>
                    <a href="#"><img width="60" height="60" src="/images/insta.png" title="youtube" alt="youtube"/></a>
                </div>
            </div>
         </div>
      </div>
   <div class="copy_right"><p>RAWATON | Design by  <a href="/">RAWATON</a> </p></div>
   </div>
   <script type="text/javascript">
   $(document).ready(function() {      
      $().UItoTop({ easingType: 'easeOutQuart' });
      
   });
   </script>
   <a href="#" id="toTop"><span id="toTopHover"> </span></a>