<!DOCTYPE html>
<html> 
<head>
  <title>Rawaton</title>
  {{> head }}
</head>
   <body>

       {{> navbar }}

       {{{body}}}

       {{> footer }}
    
   <!-- </div> /container -->
   </body>
</html>
