
<!DOCTYPE html>
<html>
<head>
   <title></title>
   {{> adminhead }}
</head>
<body class="hold-transition skin-black fixed sidebar-mini">
   <div class="wrapper">
      {{> adminnavbar }}

      {{> adminaside }}

      {{{body}}}

      {{> adminfooter }}
</body>
</html>
