  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Keranjang
      </h1>
      <ol class="breadcrumb">
        <li><a href="buyer_cart.html"><i class="fa fa-shopping-cart"></i> Keranjang</a></li>
        
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="col-md-8">
          
        </div>

        

        <div class="col-md-12 box-body">
        <div class="table">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th width="5px"><input type="CHECKBOX" name="pilih_all"></th>
                  <th width="10px">No</th>
                  <th width="100px">Gambar</th>
                  <th width="150px">Nama Barang</th>
                  <th width="150px">Penjual</th>
                  <th width="10px">Jumlah</th>
                  <th width="50px">Harga</th>
                  <th width="10px">Hapus</th>
                </tr>
              </thead>
              
              <tbody>
                  <td><input type="CHECKBOX" name="pilih"></td>
                  <td> 1 </td>
                  <td></td>
                  <td>Iphone 6</td>
                  <td>Phone Q</td>
                  <td>1</td>
                  <td>Rp.7.000.000</td>
                  <td><a onClick="return confirm('Anda yakin ingin menghapus data ini?')" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                  </td>
              </tbody>

              <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>Rp. 7.000.000</td>
                <td></td>
              </tbody>
              

              
          </table>
          <div class="col-md-8"></div>
            <input type="submit" name="mit" class="btn btn-success" value="nego">
            <input type="submit" name="mit" class="btn btn-info" value="checkout">
        </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->