  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Pesan
      </h1>
      <ol class="breadcrumb">
        <li><a href="index2.html"><i class="fa fa-dashboard"></i> Beranda</a></li>
        <li class="active">Pesan</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="col-md-8">
          
        </div>

        <div class="col-md-4">
            <form action="#" method="get" class="progress-group">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-default"><i class="fa fa-search"></i>
                    </button>
                  </span>
              </div>
            </form>
        </div>

        <div class="col-md-12 box-body">
        <div class="table">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th width="5px"><input type="CHECKBOX" name="pilih_all"></th>
                  <th width="150px">Nama</th>
                  <th width="150px">Produk</th>
                  <th width="150px">Tanggal</th>
                </tr>
              </thead>
              <a href="profile.html">
              <tbody>
                  <td><input type="CHECKBOX" name="pilih"></td>
                  <td><b> Suminto</b></td>
                  <td>Sony Xperia XZ</td>
                  <td>27/1/2017</td>
              </tbody>
              </a>

              <tbody>
                  <td><input type="CHECKBOX" name="pilih"></td>
                  <td><b> Paijah</b></td>
                  <td>Kemeja</td>
                  <td>25/1/2017</td>
              </tbody>
          </table>
            <input type="submit" name="mit" class="btn btn-danger" value="Hapus">
        </div>
        </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->